@use "~/assets/quasar-variables.sass" as *;

.youtube-icon {
  fill: $negative;
}

.twitter-icon {
  fill: $primary;
}

.audio-button {
  background-color: #6bb8f6;
  color: #fff;
}

.gradient-header {
  background-image: linear-gradient(120deg,#1e64aa,#55c8ff);
  color: #fff;
}

.footer-area {
  background-color: #f5f5f5;
}